<% include partials/header %>
<div class="container">
<header class="jumbotron">
	<h1>this is campgrounds page</h1>
</header>
<h1>campgrounds</h1>
<% campgrounds.forEach(function(campgrounds){%>
<div>
	<h4><%=campgrounds.name%></h4>
	<img src="<%=campgrounds.image%>">
</div>
	
<%}); %>
</div>
<% include partials/footer %>