<% include partials/header %>
<div class="container">
<header class="jumbotron">
	<div class="container">
	<h1>this is campgrounds page</h1>
	<p>this campgrounds from all the world </p>
	<p>
		<a class="btn btn-primary btn-large" href="/campgrounds/new"> view campgrounds</a></p>
	</p>
	</div>
</header>
<h1>campgrounds</h1>
<% campgrounds.forEach(function(campgrounds){%>
<div>
	<h4><%=campgrounds.name%></h4>
	<img src="<%=campgrounds.image%>">
</div>
	
<%}); %>
</div>
<% include partials/footer %>